@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box !important;
  font-family: 'poppins', cursive;
  max-width: 500px !important;
  clear: both;
}

html{
background-color: #f2f2ff;
}

.navbar-toggler:focus {
  outline: 0;
  box-shadow: 0;
}

.navbar-dark .navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler:focus{
  outline: 0;
  box-shadow: 0;
}

.navbar-toggler{
  border: 0 !important;
  padding: 0;
}

.clean-scroll{
  white-space: nowrap !important;
  overflow: auto !important;
}

.clean-scroll .images{
  display: inline-block !important;
    box-sizing: border-box !important;
}

/*
.card-deck, .card, .card-body{
  box-sizing: border-box !important;
} */


.nav-link:hover{
  color: #ffa000!important;
}


.spanlit{
  width: 70px;
  height: 6px;
  background-color: yellow;
  border-radius: 10px;
  /* text-align: left !important;
  align-items: start !important; */
  /* left: 3%; */
  /* transform: translate(-50%); */
}

textarea{
  resize: none !important;
}


.pushtop{
  right: 2%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  position: fixed;
  outline: #000;
  cursor: pointer;
  display:none !important;
  transition: .3s ease-in-out;
  animation-name: example;
   animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: .3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 11111;
}


.pushtop.active{
  display:block !important;
  transition: .3s ease-in-out;
}


@keyframes example {
  0%   {color:red; }
  25%  {color:yellow; }
  50%  {color:blue; }
  75%  {color:purple; }
  100% {color:dimgray; }
}
