@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box !important;
  font-family: 'poppins', cursive;
  max-width: 500px !important;
  clear: both;
}

html{
background-color: #f2f2ff;
}

.navbar-toggler:focus {
  outline: 0;
  box-shadow: 0;
}

.navbar-dark .navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler:focus{
  outline: 0;
  box-shadow: 0;
}

.navbar-toggler{
  border: 0 !important;
  padding: 0;
}

.clean-scroll{
  white-space: nowrap !important;
  overflow: auto !important;
}

.clean-scroll .images{
  display: inline-block !important;
    box-sizing: border-box !important;
}

/*
.card-deck, .card, .card-body{
  box-sizing: border-box !important;
} */


.nav-link:hover{
  color: #ffa000!important;
}
